#root{
    width:100%;
    height:100%;
}
#loginForm{
    position: absolute;
    width: 50%;
    height: 308px;
    top :0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 364px;
    display: flex;
}
#siginupForm{
    position: absolute;
    width: 52%;
    height: 308px;
    top :0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 364px;
    display: flex;
}
.login-form{
    margin: auto 0px auto 10px;
}

.login-form-button{
    width: 100%;
}
.ant-input{
    border: none !important;
    border-bottom: 1px solid #ffffff !important;
    background-color:  #fff0 !important;
    border-radius: 0 !important;
}
.ant-input::placeholder {
    color:rgb(0, 0, 0, 0.65);
    
    
  }

@media (max-width:940px){
    #loginForm{
      display: block;
      height:468px;
    }
    .login-form{
        margin: auto;
    }
    .login-form-button{
        margin:auto 5% auto 5%;
        width: 40%;
    }
    .login-form-button:nth-child(3){
        width:90%;
    }
} 


.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}
  
.trigger:hover {
    color: #1890ff;
}
.logo {
    height: 32px;
    background: #fe6500;
    margin: 16px;
    font-size: 25px;
    color: white;
    border-radius: 100px;
    text-align: center;
}
.events {
    list-style: none;
    margin: 0;
    padding: 0;
}
.events .ant-badge-status {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12px;
}
.notes-month {
    text-align: center;
    font-size: 28px;
}
.notes-month section {
    font-size: 28px;
}